{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col m6 offset-m3">
                <h2> Pimp My Unicorne</h2>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Ajouter" />
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('unicorn_index') }}">Retourner à ma liste de Licorne</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
